<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <httpRuntime maxUrlLength="2000" maxRequestLength="2097151" executionTimeout="3600" requestPathInvalidCharacters=""  />
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
    <authentication mode="Forms">
      <forms name=".myformName" loginUrl="~/Index.aspx" protection="All" timeout="120" slidingExpiration="true" path="/"/>
    </authentication>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="weixinapi.ashx" />
      </files>
    </defaultDocument>
        <directoryBrowse enabled="true" />
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/WebUI/OAuthRedirectUri.aspx" responseMode="ExecuteURL" />
        </httpErrors>
        <handlers>
            <add name="eric" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
        </handlers>
  </system.webServer>
  <appSettings>
    <add key="access_token" value="GgizWPoanheIYCsv-c_zP9j91EQyYmmBFheu1iKzJEp2UQa9ClDOu-gym6S_lvHgWPx-Ef_us3bJuYE3vR29BxPG9p2wf2dnuAgEHEFZiR9D7oB_y61gX2w-gziwukyMSNAjAGAVQD" />
    <add key="ESBLink" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST= 127.0.0.1)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=ORCL)));User Id=vip;Password=vip" />
  </appSettings>
</configuration>